@import"reset.css";


.header{
    box-sizing: border-box;
    padding-top: 63px;
    padding-left: 98px;
}
.header-box {
    margin: 38px 99px 48px;
    background-color: #35444F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: black;
}

.header-color{
    color:#4BCAFF;
}




.nav {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
     font-size: 24px;
    line-height: 28px;
}

.navbar {
    display: flex;
}

.navbar-text {
    display: flex;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.navbar-text:hover{
    background-color: #222F3A;
}

.navbar-color {
    margin: 26px 40px 19px;
    align-items: center;
    text-decoration: none;
    color: white;
}




.sidebar{
    float: left;
    box-sizing: border-box;
    width: 344px;
    height: 399px;
    margin-left: 100px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-block {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.sidebar-item{
   display: flex;
    justify-content: left;
}

.sidebar-item:hover {
    width: 342px;
    height: 81px;
    background-color: #DBDBDB;

}

.sidebar-text{
    display: flex;
    text-decoration: none;
    color:#485863;
    margin: 25px 0 25px 44px;
}

.sidebar-text:hover {
   margin-left: 75px;
}



.center{
    display: flex;
    flex-direction: column;
}

.img-box {
    margin-left: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    }

.img{
    width: 320px;
    height: 381px;
}

.text{
    box-sizing: border-box;
    width: 885px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.text-p{
    margin-top: 37px;
    margin-left: 52px;
    width: 885px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
}



.footer{
    display: flex;
    width: 1280px;
    height: 69px;
    margin: 54px auto;
    background: rgba(99, 105, 110, 0.48);
    flex-direction: row;
    justify-content: space-around;
}

.footer-block{
    display: flex;
    align-items: center;
}

.footer-item:hover{
    text-decoration: underline;
    color: #3181A6;
}
.footer-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
    margin-left: 25px;
}
.footer-text:hover{
    color: #3181A6;;
}

.ps{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
}
